@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Manrope:wght@500&display=swap');

:root {
    /* Radius */
    --radius-small: 8px;
    --radius-large: 16px;

    /* Typoghraphy */
    --main-font: 'Inter';
    --footer-font: 'Manrope';
    --weight-reg: 400px;
    --weight-med: 500px;
    --weight-sb: 600px;
    --weight-black: 900px;

    /* Color */
    --grey-100: #F7F7F8;
    --grey-200: #F3F4F7;
    --grey-300: #E7EAEF;
    --grey-400: #959AAE;
    --grey-500: #576077;
    --blue-grey: #2B3350;
    --blue: #0074D4;    
}

* ::after ::before{
    box-sizing: border-box;
}

.hide-element {
    display: none;
}

html {
    display: table;
    margin: auto;
    background-color: #576077;
}

body {
    margin: 0;
    width: 320px;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

header {
    width: 320px;
    height: 56px;
    background: url(/img/header/catalog-mobile-icon.svg);
    background-repeat: no-repeat;
    background-position: 14px 14px;
}

.header-section-top {
    display: inline-block;
}

.header-section-bottom {
    display: inline-block;
}

.logo {
    margin-top: 12px;
    width: 133px;
    height: 30.84px;
}

.shopping-cart-mobile {
    margin-top: 14px;
    vertical-align: top;
    display: inline;
    align-items: flex-start;
    float: right;
    margin-right: 11.5px;
    background: url(/img/header/cart-mobile-icon.svg);
}

.shopping-cart-mobile a {
    padding: 1px 4px;
    font-family: "Arial";
    font-weight: bold;
    text-decoration: none;
    font-size: 9px;
    color: #FFFFFF;
    background-color: #0074D4;
    border-radius: 27px;
    background-size: 19px 13px;
    vertical-align: top;
}