<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Direct - Кресла Samurai</title>
</head>
<body>
    <header class="header">
        <section class="header-section-top">
            <img class="logo" src="img/logo.png" alt="Офис Dирект">
            <div class="search">
                <img class="search-icon" src="img/search-icon.png" alt="search-icon">
                <input class="search-input" type="text" placeholder="Название модели или артикул">
            </div>
            <div class="calling">
                <img class="calling-icon" src="img/calling-icon.png" alt="calling">
                <p class="calling-number">+7 495 221-06-75</p>
            </div>
            <button class="call-button">Заказать звонок</button>
        </section>
        <section class="header-section-bottom">
            <button class="catalog-button"><img class="catalog-icon" src="img/catalog-icon.png">Каталог</button>
            <nav class="header-nav">
                <a href="#">О продукте</a>
                <a href="#">Отзывы</a>
                <a href="#">Доставка и оплаты</a>
                <a href="#">Контакты</a>
            </nav>
            <div class="user-location">
                <img class="location-icon" src="img/location-icon.png" alt="">
                <select class="location-list">
                    <option>Москва</option>
                    <option>Санкт-Петербург</option>
                    <option>Новосибирск</option>
                    <option>Екатеринбург</option>
                    <option>Казань</option>
                </select>
            </div>
            <div class="shopping-cart">
                <img class="cart-icon" src="img/cart-icon.png" alt="">
                <a href="#">Моя корзина</a>
                <div class="cart-counter">
                    <p>+1</p>
                </div>
            </div>
        </section>
    </header>
</body>
</html>