<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Direct - Кресла Samurai</title>
</head>
<body>
    <header class="header">
        <div class="header-section-top">
            <img class="logo" src="img/header/logo.png" alt="Офис Dирект">
            <div class="search">
                <img class="search-icon" src="img/header/search-icon.png" alt="search-icon">
                <input class="search-input" type="text" placeholder="Название модели или артикул">
            </div>
                <p class="calling-number"><img class="calling-icon" src="img/header/calling-icon.png" alt="calling"> +7 495 221-06-75</p>
            <button class="call-button">Заказать звонок</button>
        </div>
        <div class="header-section-bottom">
            <button class="catalog-button"><img class="catalog-icon" src="img/header/catalog-icon.png">Каталог</button>
            <nav class="header-nav">
                <a href="#">О продукте</a>
                <a href="#">Отзывы</a>
                <a href="#">Доставка и оплаты</a>
                <a href="#">Контакты</a>
            </nav>
            <div class="user-location">
                <img class="location-icon" src="img/header/location-icon.png" alt="location">
                <select class="location-list">
                    <option>Москва</option>
                    <option>Санкт-Петербург</option>
                    <option>Новосибирск</option>
                    <option>Екатеринбург</option>
                    <option>Казань</option>
                </select>
            </div>
            <div class="shopping-cart">
                <img class="cart-icon" src="img/header/cart-icon.png" alt="cart">
                <a href="#">Моя корзина</a>
                <div class="cart-counter">
                    <p>+1</p>
                </div>
            </div>
        </div>
    </header>

    <div class="slider">
        <ul class="slider-list">
            <li class="second-li">
                <img class="slider-bg" src="img/slider/slider-bg.png" alt="slider-bg">
                <h1>Кресла Samurai на выгодных условиях по всеё стране<img src="img/slider/RU.png"></h1>
                <p>Здесь вам не придется покупать товар в слепую — проведите тест-драйв перед покупкой</p>
                <button class="test-drive">Запись на тест-драйв</button>
            </li>
        </ul>
        <div class="slider-arrow-left"><img src="img/slider/slider-arrow-left.png"></div>
        <div class="slider-arrow-right"><img src="img/slider/slider-arrow-right.png"></div>
        <div class="slider-dot"><img src="img/slider/slider-dot.png"></div>
        <div class="slider-active-dot"><img src="img/slider/slider-active-dot.png"></div>
        <div class="slider-dot"><img src="img/slider/slider-dot.png"></div>
        <div class="slider-dot"><img src="img/slider/slider-dot.png"></div>
        <div class="slider-dot"><img src="img/slider/slider-dot.png"></div>
    </div>

    <div class="benefits">
        <div class="free-delvery">
            <img class="free-delivery-icon" src="img/benefits/free-delivery-icon.png" alt="free-delivery-icon">
            <p><span>Бесплатная доставка</span> по Москве и Санкт-Петербургу — от 3 шт.</p>
            <p>Как получить?</p>
        </div>
        <div class="individual-discounts">
            <img class="individual-discounts-icon" src="img/benefits/individual-discounts-icon.png" alt="individual-discounts-icon">
            <p><span>Индивидуальные скидки</span> при заказе от 3 шт.</p>
            <p>Смотреть условия</p>
        </div>
        <div class="special-conditions">
            <img class="special-conditions" src="img/benefits/special-conditions-icon.png" alt="special-conditions-icon.png">
            <p>Для юридических лиц действуют <span>особые условия</span></p>
            <p>Узнать подробнее</p>
        </div>
    </div>

    <div class="armchair-catalog">
        <h1>Каталог кресел</h1>
        <div class="filter">
            <div class="backrest">
                <img src="img/filter/grid-icon.png">
                <p>Спинка</p>
                <select class="backrest-list">
                    <option>Сетка</option>
                </select>
            </div>
            <div class="seat">
                <img src="img/filter/leatherette-icon.png">
                <p>Сиденье</p>
                <select class="seat-list">
                    <option>Кожзам</option>
                </select>
            </div>
            <div class="headrest">
                <img src="img/filter/3D-icon.png">
                <p>Подголовник</p>
                <select class="headrest-list">
                    <option>3D</option>
                </select>
            </div>
            <div class="armrests">
                <p>Подлокотники</p>
                <select class="armrests-list">
                    <option>Все</option>
                </select>
            </div>
        </div>
        <div class="goods-tiles">
            <div class="cell">
                <img src="img/goods-tiles/product-image.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">23 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
            </div>
            <div class="cell">
                <img src="img/goods-tiles/product-image-2.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">24 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
                <button class="add-cart">Добавить в корзину</button>
            </div>
            <div class="cell">
                <img src="img/goods-tiles/product-image.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">23 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
            </div>
            <div class="cell">
                <img src="img/goods-tiles/product-image.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">23 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
            </div>
            <div class="cell">
                <img src="img/goods-tiles/product-image.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">23 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
            </div>
            <div class="cell">
                <img src="img/goods-tiles/product-image.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">23 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
            </div>
            <div class="cell">
                <img src="img/goods-tiles/product-image.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">23 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
            </div>
            <div class="cell">
                <img src="img/goods-tiles/product-image.png" alt="product-image">
                <p class="armchair-model">Samurai KL-1.04 Темно-коричневый</p>
                <h1 class="armchair-price">23 000 ₽</h1>
                <p class="old-price">27 000 ₽</p>
            </div>
        </div>
        <button class="show-all">Показать все</button>
    </div>

    <div class="chair-features">
        <div class="headlines">
            <h1>Особенности кресел Самурай</h1>
            <p>Здесь будет более подробно развернуто ключевое преимущество. 
            Четвертое поколение Samurai, выпускаемое с сентября 2020 года. 
            <span>Исправлены десятки недочетов</span> предыдущих поколений</p>
        </div>
        <img class="chair-features-bg" src="img/chair-features/chair-features-bg.png">
        <div class="fetures-list">
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
            <div class="feuture">
                <h1>Индивидуальные настройки</h1>
                <p>Учитывая ключевые сценарии поведения, высокое качество позиционных исследований способствует повышению</p>
            </div>
        </div>
    </div>

    <div class="test-drive">
        <img class="test-drive-bg" src="img/test-drive/test-drive-bg.png">
        <h1>Посетите салон и проведите тест-драйв</h1>
        <p>У нас есть шоурумы в Москве и Санкт-Петербурге, где мы всегда рады видеть вас.
            Дать профессиональную консультацию и поделиться экспертизой</p>
        <button class="test-drive">Запись на тест-драйв</button>
    </div>

    <div class="our-clients">
        <h1>Наши клиенты</h1>
        <div class="clients-list-icons">
            <img src="img/our-clients/rzhd.png">
            <img src="img/our-clients/nornikel.png">
            <img src="img/our-clients/bashneft.png">
            <img src="img/our-clients/roscosmos.png">
            <img src="img/our-clients/homecredit.png">
            <img src="img/our-clients/pobeda.png">
        </div>
    </div>

    <div class="reviews">
        <h1>Отзывы</h1>
        <ul class="reviews-slider">
            <li>
                <img src="img/reviews/reviews-user-photo.png">
                <h1>Наталья, Москва</h1>
                <div class="stars-review">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                </div>
                <p>
                    С другой стороны выбранный нами инновационный путь 
                    создаёт предпосылки качественно новых шагов для всесторонне сбалансированных нововведений. 
                    С другой стороны повышение уровня гражданского...
                </p>
                <h1>Читать целиком</h1>
            </li>
            <li>
                <img src="img/reviews/reviews-user-photo.png">
                <h1>Наталья, Москва</h1>
                <div class="stars-review">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                    <img src="img/reviews/star.png">
                </div>
                <p>
                    С другой стороны выбранный нами инновационный путь 
                    создаёт предпосылки качественно новых шагов для всесторонне сбалансированных нововведений. 
                    С другой стороны повышение уровня гражданского...
                </p>
                <h1>Читать целиком</h1>
                <div class="slider-arrow-left"><img src="img/slider/slider-arrow-left.png"></div>
                <div class="slider-arrow-right"><img src="img/slider/slider-arrow-right.png"></div>
            </li>
        </ul>
    </div>

    <div class="manager-call">
        <img src="img/manager-call/manager-call-bg.png">
        <h1>У вас остались вопросы?</h1>
        <p>Оставьте контакты. Наш менеджер свяжется с вами и бесплано проконсультирует</p>
        <img src="img/manager-call/user.png">
        <input type="text" placeholder="Ваше имя">
        <img src="img/manager-call/phone-incoming.png">
        <input type="text" placeholder="Телефон для связи">
        <button class="call-button-blue">Заказать звонок</button>
    </div>

    <div class="location-google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.3227697579016!2d30.
        278500515954722!3d59.95996926733995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
        1s0x4696314a0ce7ac0b%3A0xc6d20952b624d082!2sRed%20Cadet!5e0!3m2!1sru!2s!4v1643132974801!5m2!1sru!2s" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <footer>
        <img src="img/footer/footer-logo.png">
        <p>Политика конфиденциальности</p>
        <p>© 2021 Все права защищены</p>
        <nav>
            <a href="#">О продукте</a>
            <a href="#">Отзывы</a>
            <a href="#">Доставка и оплата</a>
            <a href="#">Контакты</a>
        </nav>
        <p><img src="img/footer/calling.png"> +7 495 221-06-75</p>
        <p><img src="img/footer/message.png">zakaz@kresla-samurai.ru</p>
        <p><img src="img/footer/location.png">ул. Красного курсанта д.25, лит.в, оф. 114, бизнес-центр "RED CADET"</p>
    </footer>
</body>
</html>