<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Direct - Кресла Samurai</title>
</head>
<body>
    <header class="header">
        <div class="header-section-top">
            <img class="logo" src="img/logo.png" alt="Офис Dирект">
            <div class="search">
                <img class="search-icon" src="img/search-icon.png" alt="search-icon">
                <input class="search-input" type="text" placeholder="Название модели или артикул">
            </div>
            <div class="calling">
                <img class="calling-icon" src="img/calling-icon.png" alt="calling">
                <p class="calling-number">+7 495 221-06-75</p>
            </div>
            <button class="call-button">Заказать звонок</button>
        </div>
        <div class="header-section-bottom">
            <button class="catalog-button"><img class="catalog-icon" src="img/catalog-icon.png">Каталог</button>
            <nav class="header-nav">
                <a href="#">О продукте</a>
                <a href="#">Отзывы</a>
                <a href="#">Доставка и оплаты</a>
                <a href="#">Контакты</a>
            </nav>
            <div class="user-location">
                <img class="location-icon" src="img/location-icon.png" alt="location">
                <select class="location-list">
                    <option>Москва</option>
                    <option>Санкт-Петербург</option>
                    <option>Новосибирск</option>
                    <option>Екатеринбург</option>
                    <option>Казань</option>
                </select>
            </div>
            <div class="shopping-cart">
                <img class="cart-icon" src="img/cart-icon.png" alt="cart">
                <a href="#">Моя корзина</a>
                <div class="cart-counter">
                    <p>+1</p>
                </div>
            </div>
        </div>
    </header>

    <div class="slider">
        <ul class="slider-list">
            <li class="second-li">
                <img class="backgroung-slider" src="img/background-slider.png" alt="background-slider">
                <h1>Кресла Samurai на выгодных условиях по всеё стране<img src="img/RU.png"></h1>
                <p>Здесь вам не придется покупать товар в слепую — проведите тест-драйв перед покупкой</p>
                <button class="test-drive">Запись на тест-драйв</button>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="slider-arrow-left"></div>
        <div class="slider-arrow-right"></div>
        <div class="slider-dots"></div>
    </div>

    <div class="benefits">
        <div class="free-delvery">
            <img class="free-delivery-icon" src="img/free-delivery-icon.png" alt="free-delivery-icon">
            <p><span>Бесплатная доставка</span> по Москве и Санкт-Петербургу — от 3 шт.</p>
            <p>Как получить?</p>
        </div>
        <div class="individual-discounts">
            <img class="individual-discounts-icon" src="img/individual-discounts-icon.png" alt="individual-discounts-icon">
            <p><span>Индивидуальные скидки</span> при заказе от 3 шт.</p>
            <p>Смотреть условия</p>
        </div>
        <div class="special-conditions">
            <img class="special-conditions" src="img/special-conditions-icon.png" alt="special-conditions-icon.png">
            <p>Для юридических лиц действуют <span>особые условия</span></p>
            <p>Узнать подробнее</p>
        </div>
    </div>

    <div class="armchair-catalog">
        
    </div>
</body>
</html>